body { 
	padding: 50px;
	font: 14px "Lucinda Grande" Helvetica, Arial, sans-serif;
 }


 a { 
 color: #0BF; 
}

ul { 
	list-style-type: none;
	padding-left: 10px;
 }

 .container { 
 	max-width: 100%;
 	background-color: #eee;
 	border: 1px solid black;
 	padding-bottom: 1em;
 }

 .header { 
 	text-align: center;

 }

 .topMenu { 
 	text-align: center;
 	width: 100%;
 	background-color: #39F;
 	color: #fff;
 	padding: 2em 1em 2em 1em;
 	margin-bottom: 2em;
 	border: 2px solid #333;
}

.topMenu a { 
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}